$light-orange: #ff745f;
$white: #fff9f2;
$crimson: #570a13;
$gray-blue: #679283;
$light-gray: #626367;
$beige: #f2e7d9;

$header-font: 'Yanone Kaffeesatz', sans-serif;
$body-font: 'Open Sans', sans-serif;

.header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;
  background-color: $crimson;
  h3 {
    font-size: 30px;
    margin: 0px;
  }
  h4 {
    font-size: 18px;
    margin: 0px;
  }
}

.light-orange {
  color: $light-orange;
}

.light-gray {
  color: $light-gray;
}

.light-gray-bg {
  background-color: $beige;
}

.gray-blue-bg {
  background-color: $gray-blue;
}

.white {
  color: $white;
}

.orange {
  color: $crimson;
}

h1 .white {
  margin-top: 40px;
}

.left,
.right {
  width: 50%;
}

#info-footer .left {
  border-right: 1px dashed $light-gray;
}

#info-footer {
  display: flex;
  flex-direction: row;
  height: 50px;
}
#info-footer .left,
#info-footer .right {
  padding: 8px;
}

ul {
  padding-left: 20px;
}

#thank-you {
  text-align: center;
  padding: 30px;
}

.image-placeholder {
  margin: auto;
  height: 150px;
  width: 150px;
}

.image-text {
  padding-top: 20px;
  text-align: center;
}

.sponsors-header {
  font-size: 20px;
  padding-top: 30px;
}

.sponsors-text {
  padding-top: 20px;
}
.sponsors-images {
  padding-top: 20px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sponsors-more {
  background-color: $crimson;
}

// page container
body {
  margin: 0;
  background-color: $white;
  font-family: $body-font;
  #contents {
    max-width: 960px;
    margin: auto;
  }
}

// page header
h1 {
  font-size: 50px;
  margin: 0;
  font-family: $header-font;
}

.header {
  background-color: $light-orange;
  padding: 100px 30px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  line-height: 0.9;
  .white {
    color: $white;
    font-weight: 400;
    font-size: 90px;
  }
  .orange {
    color: $crimson;
    font-weight: 700;
    font-size: 106px;
  }
}

//info section

#information {
  display: flex;
  flex-direction: row;
  padding: 30px;
  color: $light-gray;
  h3 {
    font-family: $header-font;
    text-transform: uppercase;
    font-size: 30px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .bullet {
        margin-right: 15px;
      }
    }
  }
}

#information .left,
#information .right {
  padding: 30px;
}

#information .left {
  border-right: 1px dashed $white;
}

#information .right {
  padding-left: 30px;
}

.bullet {
  background-color: $light-orange;
  color: $crimson;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
}

.bullet-title {
  display: inline-block;
  font-family: $header-font;
  text-transform: capitalize;
  font-size: 25px;
}
